<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>WebSSH</title>

    <!-- Roboto -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,700,700i" rel="stylesheet">

    <!-- Nunito -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:600" rel="stylesheet">

    <!-- Socket.IO -->
    <script src="/external/socket.io-client/dist/socket.io.js"></script>
</head>
<body>
    <div id="content">
        <div id="auth">
            <div id="logo">
                <span>Web</span><span class="color">SSH</span>
            </div>
            <% if (auth) { %>
                <div id="check">
                    <% include check-icon %>
                </div>
                <p class="info">
                    You're logged in on
                    <span class="word"><%= auth.server %></span>
                    as
                    <span class="word"><%= auth.username %></span>.
                    <a id="logout" class="word">Logout</span>?
                </p>
                <p class="info">
                    Press the buttons bellow to open a terminal or a file explorer!
                </p>
                <div id="actions" >
                    <a id="terminal" class="action-icon" href="/terminal" target="_blank">
                        <% include terminal-icon %>
                    </a>
                    <a id="file-explorer" class="action-icon" href="/file-explorer" target="_blank">
                        <% include file-explorer-icon %>
                    </a>
                </div>
            <% } else { %>
                <div class="input-group">
                    <label>Server</label>
                    <input id="server" type="text">
                </div>
                <div class="input-group">
                    <label>Username</label>
                    <input id="username" type="text">
                </div>
                <div class="input-group has-switch">
                    <label>Use private key</label>
                    <div class="switch">
                        <input id="use-private-key" type="checkbox">
                        <label for="use-private-key"></label>
                    </div>
                </div>
                <div id="password-fields">
                    <div class="input-group">
                        <label>Password</label>
                        <input id="password" type="password"><br>
                    </div>
                </div>
                <div id="private-key-fields">
                    <div class="input-group">
                        <label>Passphrase (optional)</label>
                        <input id="passphrase" type="password"><br>
                    </div>
                    <div class="input-group">
                        <label>Private key</label>
                        <textarea id="private-key"></textarea><br>
                    </div>
                </div>
                <div id="actions">
                    <button id="connect">Connect</button>
                </div>
                <div id="notes">
                    <p id="progress-note">Please wait, this might take a few seconds...</p>
                    <p id="error-note">Failed to connect!</p>
                </div>
            <% } %>
        </div>
    </div>

    <script src="/js/index.js"></script>
</body>
</html>
