<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <link rel="stylesheet" href="css/index.css" />
    <title>WebSSH</title>

    <!-- Roboto -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,700,700i" rel="stylesheet">

    <!-- Nunito -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:600" rel="stylesheet">

    <!-- Xterm -->
    <link rel="stylesheet" href="external/xterm/dist/xterm.css" />
    <script src="external/xterm/dist/xterm.js"></script>
    <script src="external/xterm/dist/addons/fit/fit.js"></script>

    <!-- Event Emitter 3 -->
    <script src="external/eventemitter3/index.js"></script>

    <!-- Socket.IO -->
    <script src="external/socket.io-client/dist/socket.io.js"></script>

    <!-- Superagent -->
    <script src="external/superagent/superagent.js"></script>
</head>
<body>
    <div id="content">
        <div id="auth">
            <div id="logo">
                <span>Web</span><span class="color">SSH</span>
            </div>
            <% if (auth) { %>
                <div id="check">
                    <% include check %>
                </div>
                <p class="info">
                    You're logged in on
                    <span class="word"><%= auth.server %></span>
                    as
                    <span class="word"><%= auth.username %></span>.
                </p>
                <p class="info">
                    Press the button bellow to open a new terminal!
                </p>
                <div id="actions" >
                    <a id="terminal" href="/terminal" target="_blank">
                        <% include terminal %>
                    </a>
                </div>
            <% } else { %>
                <div class="input-group">
                    <label>Server</label>
                    <input id="server" type="text">
                </div>
                <div class="input-group">
                    <label>Username</label>
                    <input id="username" type="text">
                </div>
                <div class="input-group">
                    <label>Password</label>
                    <input id="password" type="password"><br>
                </div>
                <div id="actions">
                    <button id="connect">Connect</button>
                </div>
                <div id="notes">
                    <p id="progress-note">Please wait, this might take a few seconds...</p>
                    <p id="error-note">Failed to connect!</p>
                </div>
            <% }%>
        </div>
    </div>
    <script src="js/index.js"></script>
</body>
</html>
