.input-group label {
    color: #5680e9;
}

.input-group input, .input-group textarea {
    border-bottom: 1px solid rgba(86, 128, 233, 0.7);
}

.input-group input:focus, .input-group textarea:focus {
    border-bottom: 2px solid rgba(86, 128, 233, 1);
}

.input-group.has-switch > * {
    display: inline-block;

    vertical-align: top;
}

.input-group.has-switch > .switch {
    float: right;
}

.switch input:checked + label:before {
    background: rgba(86, 128, 233, 0.5);
}

.switch input:checked + label:after {
    background: rgba(86, 128, 233, 1);
}

#content {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    font-size: 64px;
}

#auth {
    max-width: 512px;
    width: 100%;

    position: relative;

    padding: 16px;
}
#auth .info {
    text-align: center;
}
#auth .info .word {
    color: #5680e9;
}

#actions {
    text-align: center;
}

#connect {
    color: #5680e9;

    border: 1px solid #5680e9;
    border-radius: 18px;

    transition: all 0.25s ease;
}
#connect:hover {
    background: #5680e9;
    color: #ffffff;
}

#logout {
    cursor: pointer;
}

#check {
    text-align: center;
}
#check svg {
    width: 96px;
    height: 96px;

    display: inline-block;
}
#check path {
    fill: #86c232;
}

.action-icon {
    text-align: center;
}
.action-icon svg {
    width: 48px;
    height: 48px;
}
.action-icon path {
    fill: #5680e9;
}

#notes {
    width: 100%;

    position: absolute;
    top: 100%;
    left: 0;

    text-align: center;
}
#progress-note, #error-note {
    font-size: 12px;

    display: none
}

#progress-note.visible, #error-note.visible {
    display: block;
}

#error-note {
    color: #fc4445;
}

#password-fields, #private-key-fields {
    display: none;
}

#password-fields.visible, #private-key-fields.visible {
    display: block;
}
