#terminal {
    height: calc(100% - 32px);
}

#status {
    width: 100%;
    height: calc(100% - 32px);

    position: absolute;
    top: 32px;
    left: 0;

    display: none;
    align-items: center;
    justify-content: center;

    background: #242424;

    z-index: 10000;
}
#status.visible {
    display: flex;
}
#status.error {
    color: #fc4445;
}
